.benner_discount {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  justify-content: center;
  padding: 45px;

  min-height: 150px;
  box-shadow: 0 0 10px #30d9cb60;
  border-radius: 20px;
}

.benner_discount h2 {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}

.discount {
  margin: 90px 0;
}

.benner_discount h2 {
  width: 90%;
}

.benner_discount h2 span {
  color: var(--color-Primary1);
}

.main_discount {
  text-align: center;
  margin: 25px 0;
}

.main_discount h2 {
  font-size: 19px;
  margin: auto;
  width: 70%;
}

.main_discount ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
}

.main_discount ul li button {
  border: 1px solid #1fb0a456;
  height: 55px;
  font-size: 22px;
  padding: 7px 35px;
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-Primary1);
  cursor: pointer;
}

.main_discount ul li button:hover {
  background-color: var(--color-Primary1);
  color: var(--color-white);
}

.stripe {
  text-align: center;

}

.stripe img {
  width: 140px;
  height: 30px;
  object-fit: contain;

}



@media (max-width: 1200px) {


  .benner_discount h2 {
    font-size: 25px;
    line-height: 35px;
  }


}


@media (max-width: 768px) {

  .discount {
    margin: 40px 0;
  }

  .benner_discount h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .discount {
    padding: 0 5%;
  }

  .benner_discount {
    padding: 25px;
    box-shadow: 0 0 10px #30d9cb60;
    min-height: auto;
  }



  .main_discount ul li button {

    height: 45px;
    font-size: 19px;
    padding: 5px 21px;
    border-radius: 5px;
  }

  .main_discount h2 {
    font-size: 15px;
    margin: auto;
    width: 100%;
    line-height: 24px;
  }
}