.information {
  margin: 90px 0 40px;
}

.general {
  margin-bottom: 35px;
}
.general > h2 {
  color: var(--color-Primary2);
  margin: 0 0 25px;
}

.rays > h2 {
  color: var(--color-Primary2);
  margin: 0 0 25px;
}
.sub_general {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img_general {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Primary3);
}

.sub_general h2 {
  font-size: 17px;
  color: var(--color-Primary2);
}

.sub_rays {
  width: 100%;
  height: 230px;
}
.sub_rays img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub_rays {
  margin: 0 0 50px 0;
}


.sub_general:hover img {
  animation: swing 1s infinite both;
  -webkit-animation: swing 1s infinite both;
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .information {
    padding: 0 5%;
  }
}


