@font-face {
  font-family: "font_main";
  src: url("../../public/fonts/Area-RegularInktrap.otf");
}

@font-face {
  font-family: "font_medium";
  src: url("../../public/fonts/Area-Medium.otf");
}

@font-face {
  font-family: "font_semibold";
  src: url("../../public/fonts/Area-Semibold.otf");
}

@font-face {
  font-family: "font_bold";
  src: url("../../public/fonts/Area-Bold.otf");
}

:root {
  --color-white: #fff;
  --color-black: #0b0a17;
  --color-Primary1: #1fafa3;
  --color-Primary2: #392b6b;
  --color-Primary3: #effefc;
  --color-Primary4: #faf9ff;
  --color-border: #1fb0a453;
  --color-gray: #a5a5a6;
  --color-text: #212121;
}

li {
  display: block;
}

i {
  line-height: 0;
}

* {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  --scrollbarBG: #d3d0d05b;
  --thumbBG: var(--color-Primary1);
}

html,
body {
  height: 100%;
}

*:focus {
  outline: none;
}

button:focus,
a {
  outline: none;
}

a {
  text-decoration: none !important;
  color: var(--color-black);
  font-size: 19px;
}

ul {
  margin: auto;
  padding: 0;
}

img {
  max-width: 100%;
  user-select: none;
}

input,
button {
  font-family: "font_main";
}

h1 {
  font-size: 40px;

  font-family: "font_bold";
}

h2 {
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 19px;
  margin: 0;
  line-height: 30px;
}

p {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  color: var(--color-Primary2);
}

a,
button,
img,
.form-control {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

::selection {
  color: #fff !important;
  background-color: var(--color-Primary1) !important;
}

body {
  background: var(--color-white);
  font-family: "font_main";
  font-weight: 400;
  padding: 0;
  margin: auto;
  position: relative;
  z-index: 1;
  color: var(--color-text);
  overflow-x: hidden;
}

.main-container {
  width: 90%;
  margin: auto;
}

.mr-section {
  margin: 90px 0;
}
.pg-section {
  padding: 90px 0;
}

.app {
  display: flex;
  align-items: center;
  gap: 20px;
}
.content_app {
  width: 75%;
}

.ctm-btn {
  height: 60px;
  border-radius: 10px;
  color: var(--color-white);
  width: 150px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: var(--color-Primary1);
}

.ctm-btn:hover {
  background-color: var(--color-Primary2);
}
.ctm-btn2 {
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 13px;
  color: var(--color-Primary2);
  width: 165px;
  font-size: 16px;
  border: 1px solid var(--color-border);
  cursor: pointer;
  background-color: var(--color-white);
}

.ctm-btn2 h3 {
  font-size: 16px;
}
.ctm-btn2 span {
  font-size: 11px;
}
.ctm-btn2:hover {
  background-color: var(--color-Primary1);
  color: var(--color-white);
}

.ctm-btn2:hover img {
  filter: brightness(0) invert(1);
}

.ctm-input {
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  resize: none;
  border-radius: 15px;
  font-size: 15px;
  padding: 15px 20px;
  border: 1px solid #28282897;
  font-family: 'font_main';
}
