.gallary {
  background-color: var(--color-Primary4);
  padding: 35px;
  margin: 0 0px 50px;
}
.sub_gallary {
  overflow: hidden;
}

.sub_gallary img {
  border-radius: 15px;

  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px #00000031;

  height: 290px;
}
